* {
	padding: 0px;
	margin: 0px;
}

html {
}

#content {
}

#content #header {
	border-bottom-color: #d4d4d4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#content #header #title {
	padding-left: 3px;
	font-size: 3em;
}

#content #header #title a {
	text-decoration: none;
}

#content #header #links {
	padding-right: 5px;
	padding-left: 5px;
}

#content #header #links a {
	text-decoration: none;
}

#content #header #links ul {
	list-style-type: none;
}

#content #header #links li {
	float: left;
	margin-right: 1.5em;
	margin-left: 2px;
}

#content #main {
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	margin-top: 1em;
}

#content #main #twoColumns {
}

#content #main #twoColumns #left {
	float: left;
	width: 65%;
}

#content #main #twoColumns #left .pictureName {
	font-size: 2em;
	display: block;
	margin-bottom: 4px;
}

#content #main #twoColumns #right {
	float: left;
	width: 30%;
}

#content #main #twoColumns #right #map {
	border: 1px solid #cccccc;
	height: 4em;
}

#content #main #twoColumns #right #navigation {
	margin-top: 1em;
	margin-bottom: 1em;
	height: 4em;
}

#content #main #twoColumns #right #exif {
}

#content #main #twoColumns #right #exif #exifDatas {
	margin-left: 1em;
	margin-top: 5px;
}

#content #main #albumList {
}

#content #main .albumsListThumb {
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	width: 100px;
	height: 100px;
	font-size: 12px;
	text-align: center;
}

#content #main .albumsListThumb a {
	text-decoration: none;
}

#content #main #imageList {
}

#content #footer {
	text-align: center;
	padding-top: 5px;
	border-top-color: #dddddd;
	margin-top: 2em;
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	border-top-width: 1px;
	border-top-style: solid;
}

/* ClearFix hack http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack/ */
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* close commented backslash hack */