#breadcrumb
  - if current_user
    - if current_user.role.title == "admin"
      - if flash[:warning] or flash[:notice]
        - if flash[:warning]
          .flashWarning
        - else
          .flashNotice
        = flash[:warning] || flash[:notice]
      - if Picture.to_process.count > 0
        Pictures to process:
        = Picture.to_process.count
      - else
        No pictures to process.