= content_for :head do
  %title
    = t(:application_name)
    \-
    = t(:title_application_index)

- @albums.each do |album|
  .albumsListThumb
    %p
      %a{:href => album_path(album)}
        img
        %br
        %span= album.name
