= content_for :head do
  %title
    = t(:title_pictures_show)
    \-
    = t(:application_name)

#left
  = image_tag(@picture.photo.url(:normal))

#right
  #map
    Map
  #navigation
    Navigation
  #exif
    Exif data